@import "font-awesome.min.css";

/*
RESET
-------------------------------------------------------- */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html, body, img, fieldset, abbr, acronym {
    border: 0;
}



/*
GENERAL
-------------------------------------------------------- */

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: FontAwesome;
    src: url("../fonts/fontAwesome/fontawesome-webfont.eot");
    src: url('../fonts/fontAwesome/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontAwesome/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontAwesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto-Light', Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #414141;	
    margin: 0;
	background-color: #F6F6F6; 
}

a,
a:visited {
	color: #2B97D6;
}
a:hover {
	text-decoration: none;
}

p a {
	color: #2B97D6;
}

p a:hover {
	color: #1B99E2;	
}

h1 {
	font-family: 'Roboto-Light', Arial, sans-serif;
	font-size: 36px;
	line-height: 45px;
	text-transform: none;
	color: #414141;
	font-weight: normal;
    margin-bottom: 15px;
}

h2 {
	font-size: 28px;
	text-transform: none;
	color: #414141;
	font-weight: normal;
}

h3 {
	font-family: 'Roboto-Light', Arial, sans-serif;
	font-size: 28px;
	line-height: 52px;	
	text-transform: none;
	color: #414141;
	font-weight: normal;
}

h4 {
	text-transform: none;
	color: #414141;
	font-weight: normal;
	font-size: 20px;
}

h5 {
	text-transform: none;
	color: #414141;
	font-weight: normal;
	font-size: 16px;
}

h6 {
	text-transform: none;
	color: #414141;
	font-weight: normal;
	font-size: 14px;
}

p {
	margin-bottom: 10px;
}

strong {
	font-family: 'Roboto-Medium', Arial, sans-serif;
	font-weight: normal;
}

.main-container,
.footer-container {
	width: 940px;
	max-width: 100%;
	padding: 0;
}

img {
	max-width: 100%;
}

hr {
	border: 0;
	border-top: 2px solid #d2d2d2;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.hidden {
	display: none;
}

iframe {
	display: none;
}



/*
PAGE
-------------------------------------------------------- */

.page {
	height: 100%;
}

.main-container {
	width: 940px;
	max-width: 100%;
	margin: 0 auto;
    padding: 20px 0;
}


.col-left {
	width: 70%; 
	float:left;
	padding-right: 10px;
}

.col-right {
	width: 30%; 
	float:left;
	padding-left: 10px;
}

.boxed {
	border: 2px solid #d2d2d2;
    border-radius: 5px;
    padding: 15px 25px 25px;
    background-color: #fff;
    position: relative;	
}

.boxed + .boxed {
	margin-top: 20px;
}



/*
CONTENT
-------------------------------------------------------- */

.preview-notification {
    background: #DF280A;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.description {
	margin-bottom: 20px;
    padding-top: 5px;
}

.coolreturn-receiver .receiver-logo {
	border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.coolreturn-receiver .receiver-name {
    font-family: 'Roboto-Medium', Arial, sans-serif;
}
.coolreturn-receiver .receiver-country {
	margin-bottom: 10px;
}

.coolreturn-partners {
	padding-bottom: 18px;
	text-align: center;
}
.coolreturn-partners h4 {
    margin-bottom: 20px;
}
.coolreturn-partners .logo {
	display: inline-block;
}
.coolreturn-partners .logo + .logo {
	margin-top: 8px;
}



/*
FORM
-------------------------------------------------------- */

.form-group {
	margin-bottom: 10px;
}

.form-group.zipcode {
	width: 25%;
    float: left;
    margin-right: 1.686%;
}
.form-group.city {
	width: 73.314%;
    float: left;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"], 
input[type="search"], 
input[type="number"] {
    height: 40px;
    border: 2px solid #d2d2d2;
    font-size: 16px;
    color: #252525;
    margin: 0;
    display: inline-block;
    padding: 8px 12px 10px;
    font-weight: normal;
    width: 100%;
    line-height: normal;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input:focus,
select:focus,
button:focus {
	border-color: #d2d2d2;
	outline: none;
}

label {
	font-weight: normal;
    font-size: 12px;
    font-weight: normal;
}

label a,
label a:hover {
	text-decoration: none;
	color: #2B97D6;
}

select {
	width: 100%;
    display: block;
    height: 40px;
    padding: 4px 12px 6px;
    line-height: 1.42857143;
    font-size: 16px;
    color: #252525;
    background-color: #fff;
    background-image: none;
    border: 2px solid #d2d2d2;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: url('../images/chevron-down.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
}

select#country {
	margin-bottom: 20px;
}

.checkbox {
    padding-left: 30px;
}
.checkbox + .checkbox {
	margin-top: 10px;
}
.checkbox > input {
	display: none;
}
.checkbox > label {
	cursor: pointer;
    height: 100%;
    display: inline-block;
    line-height: 12px;
    font-size: 14px;
}
.checkbox > label:before {
	content: "";
    display: inline-block;
    border: 2px solid #d2d2d2;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: -30px;
}
.checkbox > label > span {
	display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 20px;
}
.checkbox > input:checked + label:before {
	content: "✔";
    text-align: center;
    line-height: 26px;
    font-size: 15px;
}

.payment-logos {
    margin-top: 29px;
    height: 20px;
}

button {
    padding: 10px 25px;
    background-color: #2B97D6;
    border: 0;
    color: #fff;
    border-radius: 5px;
    font-family: 'Roboto-Regular';
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
}
button:hover {
    background-color: #2ba1e6;
}
button:focus {
    background-color: #198dd0;
}

#quickpayform { display: none; }


/*
VALIDATE
-------------------------------------------------------- */

.form-group input.error {
	border-color: #EC8080;
}

.form-group span.error {
	color: #CC4040;
	margin-top: 3px;
    display: inline-block;
}

.form-group .checkbox + span.error {
    padding-left: 40px;
}



/*
MODAL
-------------------------------------------------------- */

.modal {
	background: #fff;
	padding: 40px 30px 50px;
	position: absolute;
    top: 100px;
    left: 50%;
    z-index: 20;
    margin-left: -325px;
    width: 650px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    border-radius: 4px;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.overlay {
	content: "";
	background: rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}



/*
SUCCESS MODAL
-------------------------------------------------------- */

.modal #success-wait h2 {
	margin-bottom: 20px;
}

.modal #success-returnlabel h2 {
	margin-bottom: 30px;
	font-size: 22px;
}
.modal #success-returnlabel #label-download {
    margin-bottom: 20px;
    display: inline-block;
}
.modal #success-returnlabel .next-steps {
    list-style: none;
    margin-top: 15px;
}

.modal #success-close, .modal #cancel-close {
	position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    line-height: 42px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

/*
COOLEUROPE
----------------------------------------------------- */
.container .form-group select {
    color: rgb(84, 84, 84);
    opacity: 0.85;
    background-color: rgb(235, 235, 228);
    pointer-events: none;
}

.form-group select {
    background: none;
}


.container.container-locked .form-group input {
    color: rgb(84, 84, 84);
    opacity: 0.85;
    background-color: rgb(235, 235, 228);
    pointer-events: none;
}

.form-group input#package_number {
    width: 95%;
    border:none;
}
.form-group.searchable {
    height:44px;
    border:2px solid #d2d2d2;
}
.form-group.searchable > span.info {
    color:rgb(84, 84, 84);;
}
.form-group.searchable > span.info:hover {
    color:#2B97D6;
    cursor: help;
}
.tooltip {
    position: absolute;
    border: 2px solid #2B97D6;
    right:25px;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    display: none;
    z-index: 999;
    max-width: 50%;
}
.tooltip:after, .tooltip:before {
    bottom: 100%;
    left: 92.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.tooltip:after {
    border-color: none;
    border-bottom-color: white;
    border-width: 10px;
    margin-left: -10px;
}
.tooltip:before {
    border-color: none;
    border-bottom-color:#2B97D6;
    border-width: 13px;
    margin-left: -13px;
}

.form-group.searchable.loading {
    color: rgb(84, 84, 84);
    opacity: 0.85;
    background-color: rgb(235, 235, 228);
    pointer-events: none;
}

.form-group.searchable.loading input {
    color: rgb(84, 84, 84);
    opacity: 0.85;
    background-color: rgb(235, 235, 228);
    pointer-events: none;
}


a.btn.btn-href {
    text-decoration: none;
}


.container a.btn.btn-unlock  {
    /*position: absolute;*/
    top: 25px;
    right: 25px;
    font-size: 14px;
    z-index: 1000;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: #fff;
    border: 1px #d2d2d2 solid;
    color: #d2d2d2;
    float: right;
    margin: 5px;
}

.container a.btn.btn-unlock:hover {
    color: #2B97D6;
    border-color: #2B97D6;
}

.container.container-locked a.btn.btn-unlock {
    background-color: #dedede;
    border: 1px #dedede solid;
    color: #414141;
}

.container.container-locked a.btn.btn-unlock:hover {
    color: #2B97D6;
}

.error {
    color: #EC8080;
    text-align: left;
}









.checkbox.error > label::before {
  border-color: #EC8080;
  color: #414141;
}

.subheader {
  float: left;
  width: 100%;
  padding-bottom: 1em;
}

.overall {
  -webkit-box-shadow: 0px 16px 29px -28px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 16px 29px -28px rgba(0, 0, 0, 0.3);
  border: none;
  overflow: hidden;
}

.coolreturn-receiver {
  border: 2px solid  #F6F6F6;
  border-radius: 0;
  padding: 40px 20px;
}

.errors {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.error-messages {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  background: #ffc107 !important;
  color: white;
  font-weight: 800;
  /* position: absolute; */
  z-index: 100;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }

  65% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }

  80% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }

  95% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(8%);
  }

  65% {
    -webkit-transform: translateY(-4%);
  }

  80% {
    -webkit-transform: translateY(4%);
  }

  95% {
    -webkit-transform: translateY(-2%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}

.overall {
  -webkit-box-shadow: 0px 16px 29px -28px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 16px 29px -28px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 40px 50px;
}

input,
select,
.checkbox > label:before {
  border-width: 1px !important;
}

