.main-container {
  padding: 12% 0;
}

.main-container h1,
.main-container h2,
.main-container h3,
.main-container p {
  text-align: center;
}

.checkbox.error > label::before {
  border-color: blue;
}

