html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2B97D6;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
}

.delivered-by a {
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.delivered-by a:visited {
  color: #fff;
  text-decoration: none;
}

.delivered-by a img {
  width: 3em;
  vertical-align: middle;
  padding-right: 0.5em;
}

.delivered-by a span {
  color: #fff;
}

.coolrunner {
  position: relative;
  left: 50%;
  display: inline-block;
  min-width: 512px;
  max-width: 100%;
  width: auto;
  margin: 50px auto 25px;
  padding: 20px 0;
  clear: both;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.coolrunner__header {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 30px 45px;
  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.coolrunner__logo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.coolrunner__logo {
  display: block;
  height: auto;
  margin-left: 15px;
}

.coolrunner__header-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.coolrunner__date,
.coolrunner__ref {
  display: block;
  font-size: 19px;
  color: #aaa;
  font-weight: 300;
}

.coolrunner__date {
  margin-bottom: 5px;
}

.coolrunner__subheader-wrapper {
  background: #fff;
  padding-bottom: 20px;
}

.coolrunner__subheader {
  padding: 0 45px 0 40px;
  border-left: 5px solid #029de0;
}

.coolrunner__username {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.coolrunner__help-text {
  color: #aaa;
  font-weight: 300;
}

.coolrunner__cart {
  display: block;
  padding: 25px 30px 45px;
}

.coolrunner__cart-title {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.coolrunner__cart-list {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.coolrunner__cart-item {
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 2px dashed #aaa;
  font-size: 18px;
}

.coolrunner__cart-item:first-child {
  border-top: 0;
}

.coolrunner__cart-item:last-child {
  margin-bottom: 0;
  border-top: 2px solid #029de0;
}

.coolrunner__index {
  padding-right: 15px;
  color: #aaa;
  font-weight: 300;
}

.coolrunner__item-name {
  color: #aaa;
  font-weight: 300;
}

.coolrunner__item-price {
  float: right;
  letter-spacing: 1px;
}

.coolrunner__cart-total {
  font-size: 20px;
  text-transform: uppercase;
}

.coolrunner__footer {
  position: relative;
  padding: 30px 20px;
  border-top: 2px dashed #2B97D6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.coolrunner__footer::before,
.coolrunner__footer::after {
  content: '';
  position: absolute;
  top: 0;
  border: 4px solid transparent;
  -webkit-transform: translateY(calc(-50% - 1px));
  transform: translateY(calc(-50% - 1px));
}

.coolrunner__footer::before {
  left: 0;
  border-left: 7px solid #2B97D6;
}

.coolrunner__footer::after {
  right: 0;
  border-right: 7px solid #2B97D6;
}

.coolrunner__barcode {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

/**
 * coolrunner Animations
 */

@-webkit-keyframes show-coolrunner {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}

@keyframes show-coolrunner {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateX(-50%);
            transform: scale(0) translateX(-50%);
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}

.coolrunner {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: show-coolrunner 1s ease-out forwards;
          animation: show-coolrunner 1s ease-out forwards;
}

@-webkit-keyframes show-subheader {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show-subheader {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.coolrunner__subheader.loaded {
  opacity: 0;
  -webkit-animation: show-subheader 1s 0.5s ease-out forwards;
          animation: show-subheader 1s 0.5s ease-out forwards;
}

@-webkit-keyframes slide-down {
  to {
    -webkit-transform: perspective(100px) rotateX(0) translate3d(0, 0, 0);
            transform: perspective(100px) rotateX(0) translate3d(0, 0, 0);
  }
}

@keyframes slide-down {
  to {
    -webkit-transform: perspective(100px) rotateX(0) translate3d(0, 0, 0);
            transform: perspective(100px) rotateX(0) translate3d(0, 0, 0);
  }
}

.coolrunner__cart {
  background-color: #fff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);
          transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);
  -webkit-animation: slide-down 0.4s 0.85s ease-out forwards;
          animation: slide-down 0.4s 0.85s ease-out forwards;
}

.coolrunner__footer {
  background-color: #fff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);
          transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);
  -webkit-animation: slide-down 0.4s 1.35s ease-out forwards;
          animation: slide-down 0.4s 1.35s ease-out forwards;
}

@-webkit-keyframes show-cart-title {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-cart-title {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.coolrunner__cart-title {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-animation: show-cart-title 0.5s 1.35s ease-in forwards;
          animation: show-cart-title 0.5s 1.35s ease-in forwards;
}

@-webkit-keyframes show-cart-item {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show-cart-item {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.coolrunner__cart-item {
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-animation: show-cart-item 0.3s 1.2s ease-in forwards;
          animation: show-cart-item 0.3s 1.2s ease-in forwards;
}

.coolrunner__cart-item:nth-child(2) {
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

.coolrunner__cart-item:nth-child(3) {
  -webkit-animation-delay: 3.05s;
          animation-delay: 3.05s;
}

.coolrunner__cart-item:nth-child(4) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

