a {
  text-decoration: none !important;
}

/* overrides addresses, numbers, etc. being linked */

span.apple-override-header a {
  color: #ffffff !important;
  text-decoration: none !important;
}

span.apple-override-hidden a {
  color: #46ba5f !important;
  text-decoration: none !important;
}

span.apple-override-dark a {
  color: #292e31 !important;
  text-decoration: none !important;
}

span.apple-override-light a {
  color: #77858c !important;
  text-decoration: none !important;
}

/* [override] prevents Yahoo Mail breaking media queries */

/* retina */

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  body[override] td.icon span.retina {
    background-size: 72px 72px !important;
    display: block !important;
    height: 72px !important;
    width: 72px !important;
  }

  body[override] table.card td.card-type span.retina {
    display: block !important;
    height: 16px !important;
  }

  body[override] table.card-default td.card-type span.retina,
  body[override] table.card-default tr.card-dark td.card-type span.retina {
    background-size: 22px 16px !important;
    width: 22px !important;
  }

  body[override] table.card-visa td.card-type span.retina,
  body[override] table.card-visa tr.card-dark td.card-type span.retina {
    background-size: 36px 16px !important;
    width: 36px !important;
  }

  body[override] table.card-mastercard td.card-type span.retina,
  body[override] table.card-mastercard tr.card-dark td.card-type span.retina {
    background-size: 75px 16px !important;
    width: 75px !important;
  }

  body[override] table.card-amex td.card-type span.retina,
  body[override] table.card-amex tr.card-dark td.card-type span.retina {
    background-size: 45px 16px !important;
    width: 45px !important;
  }

  body[override] table.card-discover td.card-type span.retina,
  body[override] table.card-discover tr.card-dark td.card-type span.retina {
    background-size: 57px 16px !important;
    width: 57px !important;
  }

  body[override] table.card-jcb td.card-type span.retina,
  body[override] table.card-jcb tr.card-dark td.card-type span.retina {
    background-size: 19px 16px !important;
    width: 19px !important;
  }

  body[override] table.card-diners td.card-type span.retina,
  body[override] table.card-diners tr.card-dark td.card-type span.retina {
    background-size: 20px 16px !important;
    width: 20px !important;
  }

  /* default */

  /* visa */

  /* mastercard */

  /* amex */

  /* discover */

  /* jcb */

  /* diners */
}

/* tablets */

@media all and (max-device-width: 768px) {
  body[override] td.font-large {
    font-size: 18px !important;
    line-height: 25px !important;
  }

  body[override] td.font-large span,
  body[override] td.font-large a {
    font-size: 18px !important;
    line-height: 25px !important;
  }

  body[override] td.font-medium {
    font-size: 16px !important;
    line-height: 23px !important;
  }

  body[override] td.font-medium span,
  body[override] td.font-medium a {
    font-size: 16px !important;
    line-height: 23px !important;
  }

  body[override] td.font-small {
    font-size: 15px !important;
    line-height: 21px !important;
  }

  body[override] td.font-small span,
  body[override] td.font-small a {
    font-size: 15px !important;
    line-height: 21px !important;
  }

  body[override] td.icon span.retina {
    background-size: 72px 72px !important;
    display: block !important;
    height: 72px !important;
    width: 72px !important;
  }

  body[override] td.title {
    font-size: 24px !important;
    line-height: 28px !important;
  }

  body[override] td.title span,
  body[override] td.title a {
    font-size: 24px !important;
    line-height: 28px !important;
  }

  body[override] table.card td.card-type span.retina {
    display: block !important;
    height: 19px !important;
  }

  body[override] table.card-default td.card-type span.retina,
  body[override] table.card-default tr.card-dark td.card-type span.retina {
    background-size: 25px 19px !important;
    width: 25px !important;
  }

  body[override] table.card-visa td.card-type span.retina,
  body[override] table.card-visa tr.card-dark td.card-type span.retina {
    background-size: 43px 19px !important;
    width: 43px !important;
  }

  body[override] table.card-mastercard td.card-type span.retina,
  body[override] table.card-mastercard tr.card-dark td.card-type span.retina {
    background-size: 87px 19px !important;
    width: 87px !important;
  }

  body[override] table.card-amex td.card-type span.retina,
  body[override] table.card-amex tr.card-dark td.card-type span.retina {
    background-size: 53px 19px !important;
    width: 53px !important;
  }

  body[override] table.card-discover td.card-type span.retina,
  body[override] table.card-discover tr.card-dark td.card-type span.retina {
    background-size: 70px 19px !important;
    width: 70px !important;
  }

  body[override] table.card-jcb td.card-type span.retina,
  body[override] table.card-jcb tr.card-dark td.card-type span.retina {
    background-size: 22px 19px !important;
    width: 22px !important;
  }

  body[override] table.card-diners td.card-type span.retina,
  body[override] table.card-diners tr.card-dark td.card-type span.retina {
    background-size: 23px 19px !important;
    width: 23px !important;
  }

  body[override] table.card td.card-digits {
    font-size: 16px !important;
    line-height: 16px !important;
  }

  body[override] table.card td.card-digits span {
    font-size: 16px !important;
    line-height: 16px !important;
  }

  body[override] td.summary-total {
    font-size: 20px !important;
    line-height: 25px !important;
  }

  /* default */

  /* visa */

  /* mastercard */

  /* amex */

  /* discover */

  /* jcb */

  /* diners */

  /* */
}

/* mobile */

@media all and (max-device-width: 500px) {
  body[override] table.width {
    width: 100% !important;
  }

  body[override] td.width {
    width: 100% !important;
  }

  body[override] td.temp-padding {
    display: none !important;
    width: 0 !important;
  }

  body[override] td.temp-padding div.clear {
    display: none !important;
    width: 0 !important;
  }

  body[override] td.banner {
    height: 186px !important;
  }

  body[override] td.subbanner-item {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: block !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center !important;
    width: 100% !important;
  }

  body[override] tr.summary-item td.summary-padding {
    width: 17px !important;
  }

  body[override] tr.summary-item td.summary-padding div.clear {
    width: 17px !important;
  }

  body[override] a.browser-link {
    display: block !important;
  }
}

