
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.overall {

  -webkit-box-shadow: 0px 16px 29px -21px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 16px 29px -21px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 16px 29px -21px rgba(0, 0, 0, 0.41);
  border: none;
}