$base-transition: 0.85;
@function transition($addition) {
  @return ($base-transition + $addition)+s;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2B97D6;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  //letter-spacing: 1.5px;
}

.delivered-by a {

  &:visited {
    color: #fff;
    text-decoration: none;
  }

  img {
    width: 3em;
    vertical-align: middle;
    padding-right: 0.5em;
  }

  span {
    color: #fff;
  }

  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.coolrunner {
  position: relative;
  left: 50%;
  display: inline-block;
  min-width: 512px;
  max-width: 100%;
  width: auto;
  margin: 50px auto 25px;
  padding: 20px 0;
  clear: both;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.coolrunner__header {
  text-align: right;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  padding: 30px 30px 45px;
  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.coolrunner__logo-wrapper {
  flex: 1 0 40%;
}

.coolrunner__logo {
  display: block;
  height: auto;
  margin-left: 15px;
}

.coolrunner__header-info {
  flex: 1 0 50%;
}

.coolrunner__date, .coolrunner__ref {
  display: block;
  font-size: 19px;
  color: #aaa;
  font-weight: 300;
}

.coolrunner__date {
  margin-bottom: 5px;
}

.coolrunner__subheader-wrapper {
  background: #fff;
  padding-bottom: 20px;
}

.coolrunner__subheader {
  padding: 0 45px 0 40px;
  border-left: 5px solid #029de0;
}

.coolrunner__username {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.coolrunner__help-text {
  color: #aaa;
  font-weight: 300;
}

.coolrunner__cart {
  display: block;
  padding: 25px 30px 45px;
}

.coolrunner__cart-title {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.coolrunner__cart-list {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.coolrunner__cart-item {
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 2px dashed #aaa;
  font-size: 18px;
  &:first-child {
    border-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
    border-top: 2px solid #029de0;
  }
}

.coolrunner__index {
  padding-right: 15px;
  color: #aaa;
  font-weight: 300;
}

.coolrunner__item-name {
  color: #aaa;
  font-weight: 300;
}

.coolrunner__item-price {
  float: right;
  letter-spacing: 1px;
}

.coolrunner__cart-total {
  font-size: 20px;
  text-transform: uppercase;
}

.coolrunner__footer {
  position: relative;
  padding: 30px 20px;
  border-top: 2px dashed #2B97D6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    border: 4px solid transparent;
    -webkit-transform: translateY(calc(-50% - 1px));
    -ms-transform: translateY(calc(-50% - 1px));
    -o-transform: translateY(calc(-50% - 1px));
    transform: translateY(calc(-50% - 1px));
  }
  &::before {
    left: 0;
    border-left: 7px solid #2B97D6;
  }
  &::after {
    right: 0;
    border-right: 7px solid #2B97D6;
  }
}

.coolrunner__barcode {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

/**
 * coolrunner Animations
 */

@keyframes show-coolrunner {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-50%);
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}

.coolrunner {
  transform-origin: top left;
  animation: show-coolrunner 1s ease-out forwards;
}

@keyframes show-subheader {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.coolrunner__subheader.loaded {
  opacity: 0;
  animation: show-subheader 1s 0.5s ease-out forwards;
}

@keyframes slide-down {
  to {
    transform: perspective(100px) rotateX(0) translate3d(0, 0, 0);
  }
}

.coolrunner__cart {
  background-color: #fff;
  transform-style: preserve-3d;
  transform-origin: top center;
  transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);
  animation: slide-down 0.4s transition(0) ease-out forwards;
}

.coolrunner__footer {
  background-color: #fff;
  transform-style: preserve-3d;
  transform-origin: top center;
  transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);
  animation: slide-down 0.4s transition(0.5) ease-out forwards;
}

@keyframes show-cart-title {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.coolrunner__cart-title {
  opacity: 0;
  transform: translateY(10px);
  animation: show-cart-title 0.5s transition(0.5) ease-in forwards;
}

@keyframes show-cart-item {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.coolrunner__cart-item {
  opacity: 0;
  transform: translateX(-30px);
  animation: show-cart-item 0.3s transition(0.35) ease-in forwards;
  &:nth-child(2) {
    animation-delay: 2.9s;
  }
  &:nth-child(3) {
    animation-delay: 3.05s;
  }
  &:nth-child(4) {
    animation-delay: 3.2s;
  }
}
