.checkbox {
  &.error {
    & > label::before {
      border-color : #EC8080;
      color: #414141;
    }
  }
}
.subheader {
  float: left;
  width: 100%;
  padding-bottom:  1em;
}


.overall {

  -webkit-box-shadow: 0px 16px 29px -28px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 16px 29px -28px rgba(0,0,0,0.3);
  box-shadow: 0px 16px 29px -28px rgba(0,0,0,0.3);
  border: none;
  overflow: hidden;
}

.coolreturn-receiver{
  border: 2px solid  #F6F6F6;
  border-radius: 0;
  padding: 40px 20px;
}

.errors{
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.error-messages {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  background: #ffc107!important;
  color: white;
  font-weight: 800;
  /* position: absolute; */
  z-index: 100;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.overall {

  -webkit-box-shadow: 0px 16px 29px -28px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 16px 29px -28px rgba(0,0,0,0.2);
  box-shadow: 0px 16px 29px -28px rgba(0,0,0,0.2);
  border: none;
  padding: 40px 50px;
}


input, select, .checkbox > label:before{
  border-width: 1px!important;
}
